<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <document-title />

    <link-canonical />
    <meta-description />
    <meta-keywords />
    <meta-robots />
    <custom-metas />

    <og-description />
    <og-image />
    <og-site-name />
    <og-title />
    <og-type />
    <og-url />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.2.1/css/bootstrap.min.css">
</head>
<body>
    @RenderBody()
</body>
</html>