<h2>LinkCanonical</h2>

<p>
    LinkCanonical value: <code>@Seo.LinkCanonical</code>
</p>
<p>
    BaseLinkCanonical value: <code>@Seo.BaseLinkCanonical</code>
</p>
<p>
    LinkCanonical HTML: <code>@Html.SeoLinkCanonical().ToHtmlString()</code>
</p>
<p>
    LinkCanonical HTML with custom base: <code>@Html.SeoLinkCanonical(linkCanonicalBase: "https://linkcanonicalbase.co/base/").ToHtmlString()</code>
</p>