<h2>PageTitle</h2>

<p>
    Title value: <code>@Seo.Title</code>
</p>
<p>
    BaseTitle value: <code>@Seo.BaseTitle</code>
</p>
<p>
    TitleFormat value: <code>@Seo.TitleFormat</code>
</p>
<p>
    Title HTML: <code>@(Html.SeoTitle()?.ToHtmlString())</code>
</p>