<h2>LinkCanonical</h2>

<p>
    LinkCanonical value: <code>@Seo.LinkCanonical</code>
</p>
<p>
    BaseLinkCanonical value: <code>@Seo.BaseLinkCanonical</code>
</p>
<p>
    LinkCanonical HTML:
    <code>
        <html-encode>
            <seo-link-canonical />
        </html-encode>
    </code>
</p>
<p>
    LinkCanonical HTML with custom base:
    <code>
        <html-encode>
            <seo-link-canonical base="https://linkcanonicalbase.co/base/" />
        </html-encode>
    </code>
</p>