<h2>Seo.OgTitle</h2>

<p>
    Seo.OgTitle value: <code>@Seo.OgTitle</code>
</p>
<p>
    Seo.OgTitle HTML:
    <code>
        <html-encode>
            <seo-og-title />
        </html-encode>
    </code>
</p>