<h2>Seo.OgType</h2>

<p>
    Seo.OgType value: <code>@Seo.OgType</code>
</p>
<p>
    Seo.OgType HTML:
    <code>
        <html-encode>
            <seo-og-type />
        </html-encode>
    </code>
</p>